@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;  
}


/*NAVIGATION*/


nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
}

.logo {
    width: 300px;
}

ul {
    display: flex;
}

li {
    padding-left: 16px;
    list-style-type: none;
}

a { 
    font-weight: bold;
    color: black;
}


/*HEADER pink #eadcff blue #05c7cf */


header {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eadcff;
    padding: 24px;
}

h1 {
    font-size: 52px;
}

.subheader {
    font-size: 18px;
    margin: 14px 0 24px 0;
}

button {
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #05c7cf;
    color: white;
    cursor: pointer;
}

.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*

ABOUT #F8FFDC

*/

#about,
#discord,
#contact,
footer {
    padding: 48px 0;
    background-color: #F8FFDC;
}

h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 60px;
}

.section__description {
    display: flex;
    justify-content: center;
    align-items: center;

}

.about__img--wrapper {
    width: 40%;
}

img {
    width: 100%;
}

.section__description--wrapper {
    width: 60%;
}

.about__img--wrapper, .section__description--wrapper {
    padding: 0 24px;
}

.section__description--para {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
}


/*

DISCORD

*/


#discord {
    background-color: #cefeff;
}


/*

DISCORD

*/

#contact {
    background-color: #dce9ff;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;

}

input, textarea {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 6px 12px;
}


/*

DISCORD

*/

footer {
    background-color: #cafdff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    max-width: 400px;
    margin-bottom: 16px;
}

.footer__link {
    padding: 0 16px;
}

.footer__links {
    margin-bottom: 32px;

}


/*

PHONES,TABLETS

*/


@media (max-width: 728px) {
   ul {
       display: none;
   }

   .row {
       flex-direction: column;
   }

   .home__description {
       margin-bottom: 12px;
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .home__description--button {
    max-width: 240px;
}

   h1 {
       text-align: center;
       font-size: 40px;
   }

   .subheader {
       text-align: center;
   }

   .section__description {
       flex-direction: column;
   }

   .section__description--wrapper {
       width: 100%;

   }

   .about__img--wrapper {
       width: 100%;
   }

   #discord .section__description {
       flex-direction: column-reverse;
   }

   footer {
       padding: 48px 24px;
   }

   .footer__link {
       padding: 0 2px;
       font-size: 14px;
   }

   .footer_links {
       margin-bottom: 12px;
   }
   }



   




   }

}